<div class="conteneur">
    <div class="rouge">
        <div class="vote">{{votes.rouge}}</div>
        <input type="button" value="Vote">
    </div>
    <div class="bleu">
        <div class="vote">{{votes.bleu}}</div>
        <input type="button" value="Vote">
    </div>
</div>

<script type="module" src="./js/vote.js"></script>